html, body {
	margin: 0;
	padding: 0;
	font-size: 32px;
}

@media (orientation: landscape), (width < 800px) {
	html, body {
		font-size: 16px;
	}
}

#container {
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

#textContainer {
	background-color: #ffffff;

	max-width: 40%;

	padding: 16px 32px;
	border-radius: 8px;
}

#timerContainer {
	max-height: 0;
	transition: max-height 1s ease-out;
	overflow-y: hidden;
}

#title {
	font-size: 1.25em;
	font-family: 'Fredoka', sans-serif;
	font-weight: 600;

	text-align: center;
}

.counterText {
	text-align: center;
	font-family: 'Fredoka', sans-serif;
	font-weight: 400;
}

#imageContainer {
	z-index: -1;
	position: fixed;

	background-color: #cccccc;
	opacity: 1;

	height: 100vh;
	width: 100vw;
}

.image {
	position: absolute;
	max-width: 50vw;

	opacity: 0;
	transition: opacity 1s;
	
	border-radius: 8px;
}

@media  (orientation: landscape), (width > 600px) {
	.image {
		max-width: 20vw;
	}
}
