html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 32px;
}

@media (orientation: landscape), (width < 600px) {
	html, body {
		font-size: 16px;
	}
}

img[src=""] { opacity: 0; }

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#landingImageContainer {
	height: 100vh;
	width: 100vw;
}

#landingImage {
	position: fixed;
	z-index: -1;

	height: 100vh;
	width: 100vw;

	background-image: url("../images/landingImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#swipeUpButton {
	width: 5vw;
	min-width: 100px;

	background-color: #ffffff75;
	border: 0;
	border-radius: 10px;

	position: fixed;
	z-index: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

@media (orientation: portrait) {
	#swipeUpButton {
		width: 20vw;
	}
}

#swipeUpButton > img {
	height: 100%;
	width: 100%;
}

#content {
	display: flex;
	flex-direction: column;

	z-index: 1;
	background-color: #ffffffee;
}

.subContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;

	border-width: 3px;
	border-color: #000;
	border-top-style: solid;
}

#rightContent {
	justify-content: space-evenly;
}

@media (orientation: landscape) {
	#content {
		flex-direction: row;
	}

	.subContent {
		width: 50%;
	}

	#leftContent {
		border-right-style: solid;
		border-bottom-style: unset;
	}
}

#counterId{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.counterText {
	font-size: 1.2rem;
	text-align: center;
}

#sentencesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 75%;
	height: 45%;
}

#sentenceParagraph {
	margin: 8px;
	font-size: 1.5rem;
	text-align: center;
}

#authorParagraph {
	margin: 8px;
	font-size: 0.8rem;
	text-align: center;
}

#randomImage {
	object-fit: contain;
	width: 90%;
	height: 45%;

}
